// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import '../../sartography_material';
// Load the Sartography Theme
@include sartography-theme($sartography-theme);

.contact-us {
  padding: 5%;
  background-color: mat-color($sartography-primary, 50);
  color: mat-contrast($sartography-primary, 50);

  .map img {
    max-height: 100%;
    max-width: 100%;
  }
}
