<div
  class="contact-us"
  id="contact-us"
>
  <!--<mat-card>-->
    <h1>CONTACT US</h1>
    <!--<mat-tab-group mat-stretch-tabs>-->
      <!--<mat-tab label="In Person">-->
    <div
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutGap="2%"
    >
      <div fxFlex="50%">
        <h3>Come Visit Us</h3>
        <p>On any given day you are likely to find one or all of us at the <a href="http://www.stauntonmakerspace.com/" target="_blank">Staunton Makerspace</a>. Whether we are crafting client code, painting the walls, or soldering together our latest invention, the Makerspace is an inspiring place for us to do our best work. </p>

      <!--</mat-tab>-->
      <!--<mat-tab label="Remote">-->
        <h3>Write to us</h3>
        <p>dan@sartography.com</p>
        <h3>Give us a Call</h3>
        <p>+1.540.457.0024</p>
        <h3>Send us a postcard</h3>
        <p>Sartography</p>
        <p>c/o Staunton Makerspace</p>
        <p>20 S. Jefferson Street</p>
        <p>Staunton VA 24401</p>
      </div>
      <div fxFlex="50%" class="map">
        <img src="../../assets/images/staunton_old_map.jpg">
      </div>
    </div>
      <!--</mat-tab>-->
    <!--</mat-tab-group>-->
  <!--</mat-card>-->
</div>
