<div
  class="about-us"
  id="about-us"
  fxLayout="column"
  fxLayoutGap="2%"
>
  <div>
    <h1>Meet Sartography</h1>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Who We Are">
        <h3>We are Sartography</h3>
        <p>We love research, data, and engagement.  We seek out opportunities to help experts in various domains map their ideas onto today’s technical landscape.</p>

        <h3>Our Mission:</h3>
        <p>To partner with scientists and innovators to create engaging software that improves the health and well being of our communities by providing the technical map that takes our clients to their destination quickly and safely.</p>

        <h3>Our Vision:</h3>
        <p>To build products that make a meaningful, proven impact in the mental health of our community.</p>
      </mat-tab>
      <mat-tab label="Our Values">
        <h3>Conversation.</h3>
        <p>First we listen, then we find empathy, and finally we accept responsibility for making communication the foundation of every action.  We work daily with scientists and experts who live and breath their passions.  It is an honor to be working with you, learning from you, and building with you.  And though it takes great effort, our work with excellent minds allows us to build true innovations through tight collaboration.</p>

        <h3>Respect.</h3>
        <p>Respect must begin within yourself.  We will take time to respect and care for ourselves, then our families, and then our clients.  We will come to work with the power to make things happen and the balance of perspective that comes from being healthy and happy in the rest of our lives.  We then have the most to give others.  We are a family first organization.</p>

        <h3>Rigor.</h3>
        <p>We work with scientists and often sensitive private information about our clients and the participants of studies.  We will work constantly to balance the proper cultivation of data so that it is accurate, accessible and safe.</p>

        <h3>Play.</h3>
        <p>We must play.  At the Makerspace, in our code, with our kids.  It is the act of play that enlivens our minds and brings us joy.  Joy begets works of delight, delight brings engagement, engagement brings insight.  Insight brings us greater wisdom.  Wisdom teaches us how to play.</p>
      </mat-tab>
    </mat-tab-group>
    <h1>The Team</h1>
    <div
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutGap="2%"
    >
      <div *ngFor="let t of teamMembers">
        <mat-card>
          <div class="circle-img">
            <img src="{{ t.imageLink }}">
          </div>
          <h2>{{ t.name }}</h2>
          <h3>{{ t.title }}</h3>
          <p>{{ t.description }}</p>
          <button
            *ngIf="t.gitHubLink"
            (click)="goWebsite(t.gitHubLink)"
          >
            GitHub
          </button>
          <button
            *ngIf="t.linkedInLink"
            (click)="goWebsite(t.linkedInLink)"
          >
            LinkedIn
          </button>
        </mat-card>
      </div>
    </div>
  </div>
  <div fxLayoutAlign="center center">
    <img src="../../assets/logo/Sartography-LogoLockupMinimal-White.svg">
  </div>
</div>
