<div
  class="about-us"
  id="about-us"
  fxLayout="column"
  fxLayoutGap="2%"
>
  <div>
    <h1>Meet Sartography</h1>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Who We Are">
        <div class="tab-content">
          <h3>We are a Collective of Makers.</h3>
          <p>We are not a company, with a hierarchy, ladders to climb, or backs to
            scratch. We just like each other. And through patience,
            good will, and open hearts, we have managed to forge a working relationship that allows us to apply our
            skills to worthwhile purposes. If making the world a
            better place to live is core to your mission, and you aspire to work with compassionate craftspeople who
            love what they do, well then. You found us.</p>
          <p>We are, literally, makers. We have collectively founded and are central in running our local Makerspace.
            Where we can spend our spare time teaching others to delight
            in technology, learn new tools, and build great things. We live to inspire, teach, and above all to learn
            ourselves.</p>
        </div>
      </mat-tab>
      <mat-tab label="The Logo's Meaning">
        <div class="tab-content">
          <h3>Our Logo:</h3>
          <p><b>The Compass:</b> It stands for the exact representation of information.  We do not aim to make things beautiful first,
            but to make things exact, and in doing so, bring forth beauty.</p>
          <p><b>The Heart:</b> We take on work that insights our passion for learning, building, and creating a better world.</p>
          <p><b>The Thread:</b> We are woven together, our endeavors are collaborative, each effort binds us together as a
            team, in a collective endeavor, made of many skills and countless contributions.  A grand tapestry we make.</p>
          <p><b>Bespoke:</b> This word evolved from the verb "to speak for something".  We wish to speak for something good.
          In present use as an adjuctive, it should evoke a sense of the tailor made, something crafted to specification.</p>
        </div>
      </mat-tab>
      <mat-tab label="Mission and Vision">
        <div class="tab-content">
          <h3>Our Mission:</h3>
          <p>To partner with scientists and innovators to create engaging software that improves the health and well
            being of our communities through constant rigor, deep commitment to cause, and abiding resepect to our
          shared goal for a better world.</p>

          <h3>Our Vision:</h3>
          <p>To build a world changing application that make a meaningful, scientifically proven impact in the mental
            health of our community.</p>
        </div>
      </mat-tab>
      <mat-tab label="Our Values">
        <div class="tab-content">
          <h3>Conversation.</h3>
          <p>First we listen, then we find empathy, then we accept responsibility.</p>
          <p>We work daily with scientists and experts who live and breathe their passions. It is an honor to be working
            with you, learning from you, and growing together. And though it takes great effort, our work with
            excellent minds allows us to build true innovations through tight collaboration.</p>

          <h3>Respect.</h3>
          <p>Respect must begin within yourself. We will take time to respect and care for ourselves, then our families,
            and then our clients. We will come to work with the power to make things happen and the balance of
            perspective that comes from being healthy and happy in the rest of our lives. We then have the most to give
            others.</p>
          <p>We are a family first organization.</p>

          <h3>Rigor.</h3>
          <p>We have long worked with scientists.  We know every piece of data matters.  It must make sense, it must be easy
            to understand, reuse, manipulate, and share. It must be harvested with great care, stored carefully, de-identified,
            checked, rechecked. Verified and re-verified.  We spend a lot of time thinking about the importance of
            information, because if done correctly, good data can change the way we all see the world.
          </p>

          <h3>Play.</h3>
          <p>We must play. At the Makerspace, in our code, with our kids. It is the act of play that enlivens our minds
            and brings us joy. Joy begets works of delight, delight brings engagement, engagement brings insight.
            Insight brings us greater wisdom. Wisdom teaches us how to play.</p>
        </div>
      </mat-tab>
    </mat-tab-group>
    <h1>The Team</h1>
    <div
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutGap="2%"
      fxLayoutAlign="space-between stretch"
    >
      <div
        *ngFor="let t of teamMembers"
        fxFlex="30%"
      >
        <mat-card>
          <div class="circle-img">
            <img src="{{ t.imageLink }}">
          </div>
          <h2>{{ t.firstName }}</h2>
          <h2>{{ t.lastName }}</h2>
          <h3>{{ t.title }}</h3>
          <div *ngFor="let d of t.description">
            <p>{{ d }}</p>
          </div>
          <button
            *ngIf="t.gitHubLink"
            (click)="goWebsite(t.gitHubLink)"
          >
            GitHub
          </button>
          <button
            *ngIf="t.linkedInLink"
            (click)="goWebsite(t.linkedInLink)"
          >
            LinkedIn
          </button>
        </mat-card>
      </div>
    </div>
  </div>
  <div fxLayoutAlign="center center">
    <img src="../../assets/logo/Sartography-Logo-Horizontal-Color.png">
  </div>
</div>
