// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import '../../sartography_material';
// Load the Sartography Theme
@include sartography-theme($sartography-theme);

.about-us {
  padding: 5%;
  background-color: mat-color($sartography-primary, 50);
  color: mat-contrast($sartography-primary, 50);
  text-align: center;

  h1{
    padding: 2%;
  }

  button {
    margin: 2%;
    padding: 7px;
    background-color: mat-color($sartography-warn, 500);
    color: mat-contrast($sartography-warn, 500);
    cursor: pointer;
  }

  mat-card {
    padding: 5%;

    h2 {
      padding: 0;
      margin: 0;
    }

    img {
      border-radius: 200px;
      height: 200px;
      width: 200px;
    }
  }
  mat-tab-group {
    background-color: #ffffff;
    min-height: 400px;
    padding: 2%;
  }
  img {
    max-width: 90%;
    padding: 2%;
  }

}
