@import '../node_modules/@angular/material/theming';
@include mat-core();
$sartography-teal: (
  50 : #BEE4E1,
  100 : #BEE4E1,
  200 : #8CD1C8,
  300 : #8CD1C8,
  400 : #36BBA4,
  500 : #36BBA4,
  600 : #247A6B,
  700 : #247A6B,
  800 : #133A32,
  900 : #133A32,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
  )
);
$sartography-purple-grey: (
  50 : #E5E2F1,
  100 : #E5E2F1,
  200 : #9D98CB,
  300 : #9D98CB,
  400 : #554DA0,
  500 : #554DA0,
  600 : #302E5E,
  700 : #302E5E,
  800 : #12131F,
  900 : #12131F,
  A100 : #F2EDED,
  A200 : #CCC8C8,
  A400 : #999696,
  A700 : #727071,
  A900 : #4C4B4C,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
    A900 : #ffffff,
  )
);
$sartography-raspberry-yellow: (
  50 : #F9BFCC,
  100 : #F9BFCC,
  200 : #F597A5,
  300 : #F597A5,
  400 : #D41D55,
  500 : #D41D55,
  600 : #931A43,
  700 : #931A43,
  800 : #521227,
  900 : #521227,
  A100 : #FFECBD,
  A200 : #FFD671,
  A400 : #C7A02F,
  A700 : #876A29,
  A900 : #473917,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
    A900 : #ffffff,
  )
);
$sartography-primary: mat-palette($sartography-teal);
$sartography-accent: mat-palette($sartography-purple-grey);
$sartography-warn: mat-palette($sartography-raspberry-yellow);
$sartography-theme: mat-light-theme($sartography-primary, $sartography-accent, $sartography-warn);
@include angular-material-theme($sartography-theme);
// Define a mixin that accepts a theme and outputs the color styles for the component.
@mixin sartography-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  // Use mat-color to extract individual colors from a palette as necessary.
  body {
    background-color: mat-color($primary, 50);
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
  }
  p {
    color: mat-color($sartography-accent, A900);
    font-size: 14pt;
    line-height: 20pt;
    font-weight: 400;
  }
  h1, h2 {
    padding: 10px 10px;
    margin: 0 0 10px 0;
    text-transform: uppercase;
  }
  h1 {
    font-size: 24pt;
    font-weight: 400;
    text-align: center;
  }
  h2 {
    font-size: 40px;
    font-weight: 700;
  }
  h3 {
    font-size: 20px;
    font-weight: 700;
  }
  .spacer {
    flex: 1 1 auto;
  }
}
