<div
  class="case-studies"
  id="case-studies"
>
  <h1>CASE STUDIES</h1>
  <div
    fxLayout="row"
    fxLayout.lt-xs="column"
    fxLayoutGap="2%"
    fxLayoutAlign="space-between"
  >
    <div *ngFor="let study of caseStudies">
      <mat-card
        class="intro"
        (click)="setStudyView(study)"
      >
        <img src="{{ study.featureLink }}">
      </mat-card>
    </div>
  </div>
  <div
    *ngIf="caseStudy"
    class="study"
    id="study"
  >
    <div fxLayout="row"
         fxLayout.lt-sm="column"
         fxLayoutGap="2%"
         fxLayoutAlign="space-between stretch"
    >
      <div fxFlex="30%">
        <h2>{{ caseStudy.projectName }}</h2>
        <h3>{{ caseStudy.organizationName }}</h3>
        <div
          *ngIf="caseStudy.testimonials[0]"
          class="testimonial"
        >
          <p>"{{ caseStudy.testimonials[0].quote}}" - {{ caseStudy.testimonials[0].name}}</p>
        </div>
      </div>
      <div fxFlex="60%">
        <h3>{{ caseStudy.tagLine }}</h3>
        <p>{{ caseStudy.description }}</p>
        <img src="{{ caseStudy.imageLink }}">
      </div>
    </div>

  </div>
</div>
