<div
  class="case-studies"
  id="case-studies"
>
  <h1>CASE STUDIES</h1>
  <p>Please select a tile below to learn about some of our recent projects.</p>
  <div
    fxLayout="row"
    fxLayout.lt-xs="column"
    fxLayoutGap="2%"
    fxLayoutAlign="space-between"
  >
    <div *ngFor="let study of caseStudies">
      <mat-card
        class="intro"
        (click)="setStudyView(study)"
      >
        <img src="{{ study.featureLink }}">
      </mat-card>
    </div>
  </div>
  <div
    *ngIf="caseStudy"
    class="study"
    id="study"
  >
    <div fxLayout="row"
         fxLayout.lt-sm="column"
         fxLayoutGap="2%"
         fxLayoutAlign="space-between stretch"
    >
      <div
        fxFlex="30%"
        fxLayout="column"
        fxLayoutGap="2%"
      >
        <h2>{{ caseStudy.projectName }}</h2>
        <h3>{{ caseStudy.organizationName }}</h3>
        <div
          *ngIf="caseStudy.testimonials"
        >
          <div
            *ngFor="let t of caseStudy.testimonials"
            class="testimonial"
          >
            <p>"{{ t.quote}}"</p>
            <p>- {{ t.name}}<br/><i>&nbsp; {{t.title}}</i></p>
          </div>
        </div>
        <button
          *ngIf="caseStudy.websiteLink"
          (click)="goWebsite(caseStudy.websiteLink)"
        >
          Visit Website
        </button>
        <button
          *ngIf="caseStudy.gitHubLink"
          (click)="goWebsite(caseStudy.gitHubLink)"
        >
          View on GitHub
        </button>
      </div>
      <div fxFlex="60%">
        <h3>{{ caseStudy.tagLine }}</h3>
        <p>{{ caseStudy.description }}</p>
        <img src="{{ caseStudy.imageLink }}">
      </div>
    </div>

  </div>
</div>
