// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import '../../sartography_material';
// Load the Sartography Theme
@include sartography-theme($sartography-theme);

.case-studies {
  padding: 5%;
  background-color: #ffffff;
  text-align: center;

  h1{
    padding: 2%;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .intro {
    background-color: mat-color($sartography-accent, A100);
    padding: 3%;
    cursor: pointer;

    &:hover {
      background-color: mat-color($sartography-primary, 100, 1);
    }

    &:active {
      background-color: mat-color($sartography-primary, 200, 1);
    }

  }

  .study {
    margin-top: 5%;
    padding: 2%;
    text-align: start;

    h2, h3, p, img {
      padding: 2%;
      margin: 1%;
    }
  }

  .testimonial {
    margin-top: 5%;
    background-color: mat-color($sartography-accent, 700);

    p{
      padding: 8%;
      color: mat-contrast($sartography-accent, 700);
    }
  }
}
